<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a [routerLink]='["/home"]' [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Home</a></li>
      <li><a [routerLinkActiveOptions]="{exact: true}"  routerLinkActive="active"  [routerLink]='["users"]'>Users</a></li>
      <li><a [routerLinkActiveOptions]="{exact: true}"  routerLinkActive="active"  routerLink="/users/create">Create User</a></li>
      <!-- <li><a routerLink="/users/update" [queryParams]="{id:1, type:'edit'}" >Edit Users</a></li> -->
      <li><a [routerLinkActiveOptions]="{exact: true}"  routerLinkActive="active"  routerLink="/products">Products</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
